19:16:09
张寒 2017/11/1 19:16:09
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../han/css/css7.css"/>
	</head>
	<body>
		<header></header>
		<nav>
			<div class="nav">
				<h3>Roux Meetups</h3>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="http://localhost:8080/create4" methods="GET">Speakers <img src="han/img/a.png"/></a></li>
					<li><a href="http://localhost:8080/create5" methods="GET">Feedback</a></li>
					<li><a href="http://localhost:8080/create3" methods="GET">Chat</a></li>
				</ul>
			</div>
		</nav>
		<footer>
			<div class="footl">
				<h3>Send us feedback</h3>
				<p>Name</p>
				<form action="http://localhost:8080/create" method="POST">
				<input type="text" name="message" placeholder="Enter your name" />
				<p>Title</p>
				<input type="text" name="name" placeholder="Title of your feedback"/>
				<p>Message</p>
				<textarea name="texts"  placeholder="Enter your message,then hit the submit"></textarea>
				<button>Sumbit</button>
				</form>
			</div>
			<div class="footr">
				<h3>Recent Feedback</h3>
				
			</div>
		</footer>
	</body>
</html>
